---
layout: default
title: "Papers"
description: "Research papers from the lab"
group: navigation
navorder: 2
---
{% include JB/setup %}

<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
<script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>

<div class="hugespacer"></div>
<div class="bigtitle text-left">Publications</div>
<div>
See <a href="https://pubmed.ncbi.nlm.nih.gov/?term=ian+mellis&sort=date">PubMed</a> and <a href="https://scholar.google.com/citations?hl=en&user=9IELUHoAAAAJ&view_op=list_works&sortby=pubdate">Google Scholar</a> for complete lists of Mellis Lab papers.
</div>
<div class="bigspacer"></div>

{% assign dir_year = "" %}
{% assign dir_years = "" | split: ", " %}


{% for paper in site.categories.papers %}

  {% if paper.year != dir_year %}
    {% assign dir_year = paper.year %}
    {% assign dir_year_href = "<a href= #" | append: dir_year | append: ">" | append: dir_year | append: "</a>" %}
    {% assign dir_years = dir_years | push: dir_year_href %}
  {% endif %}
{% endfor %}
{% assign dir_years = dir_years | join: " | " %}

<!-- <div class="text-left">
  {{ dir_years }}
</div>   -->
<br>
<div class="text-left">
	  Lab Members and Co-Mentees in <b>Bold</b><br>* = equal contribution<br><sup>#</sup> = corresponding
</div>

{% assign team_citation_names = "" | split: ", " %}
{% for team_member in site.categories.team %}
  {% unless team_member.category contains 'Friend' %}
    {% if team_member.citation_names %}
      {% assign member_citation_names = team_member.citation_names | split: ", " %}
      {% assign team_citation_names = team_citation_names | concat: member_citation_names %}
    {% endif %}
  {% endunless %}
{% endfor %}

<div class="bigspacer"></div>

{% assign year = "" %}
{% for paper in site.categories.papers %}

    {% assign pruned_team_citation_names = "" | split: "," %}
    {% for citation_name in team_citation_names %}
      {% unless paper.explicit_nonlab_citations contains citation_name %}
        {% assign pruned_team_citation_names = pruned_team_citation_names | push: citation_name %}
      {% endunless %}
    {% endfor %}

    {% if paper.year != year %}
      {% assign year = paper.year %}
      <div class="anchor"><a name={{ year }}></a></div>
      <br><br>
      <div class="title">{{ year }}</div>
    {% endif %}
    {% assign front_authors = paper.front_authors | split: ", " %}
    {% assign senior_authors = paper.senior_authors | split: ", " %}
    {% assign shortened_authors = "" | split: ", " %}
  
    <!-- {% for first_author in front_authors %}
      {% if pruned_team_citation_names contains first_author %}	      
        {% assign revised_first_author = "<b>" | append: first_author | append: "</b>" %}
        {% assign shortened_authors = shortened_authors | push: revised_first_author %}
      {% else %}
        {% assign shortened_authors = shortened_authors | push: first_author %}
      {% endif %}
    {% endfor %}

      
    {% assign shortened_authors = shortened_authors | push: "[...]" %}
    {% for senior_author in senior_authors %}
      {% if pruned_team_citation_names contains senior_author %}	      
        {% assign revised_senior_author = "<b>" | append: senior_author | append: "</b>" %}
        {% assign shortened_authors = shortened_authors | push: revised_senior_author %}
      {% else %}
        {% assign shortened_authors = shortened_authors | push: senior_author %}
      {% endif %}
    {% endfor %}

    {% comment %} The following code block addresses rare situations where first author is also senior author. {% endcomment %} 
    {% assign shortened_authors = shortened_authors | uniq %}
    {% assign last_element = shortened_authors | last %}
    {% if last_element == "[...]" %}
      {% assign size_minus_one = shortened_authors.size | minus: 1 %}
      {% assign shortened_authors = shortened_authors | slice: 0, size_minus_one %}
    {% endif %}
    {% assign shortened_authors = shortened_authors | join: ", " %}	    

    {% assign shortened_authors = shortened_authors | split: ", " %}
    {% assign revised_shortened_authors = "" | split: ", " %}

    {% for author in shortened_authors %}
      {% if pruned_team_citation_names contains author %}	      
        {% assign revised_author = "<b>" | append: author | append: "</b>" %}
      {% else %}
        {% assign revised_author = author %}
      {% endif %}
      {% if paper.first_authors contains author %}
          {% assign revised_author = revised_author | append: "*" %}
      {% endif %}
      {% if paper.senior_authors contains author %}
          {% assign revised_author = revised_author | append: "<sup>#</sup>" %}
      {% endif %}
      {% if paper.corresponding_authors contains author %}
          {% assign revised_author = revised_author | append: "^" %}
      {% endif %}
      {% assign revised_shortened_authors = revised_shortened_authors | push: revised_author %}

    {% endfor %}	    
    {% assign  shortened_authors  = revised_shortened_authors | join: ", " %} -->

    {% assign team_citation_names = "" | split: ", " %}
    {% for team_member in site.categories.team %}
    {% unless team.member.category contains 'Friend' %}
      {% if team_member.citation_names %}
        
          {% assign member_citation_names = team_member.citation_names | split: ", " %}
          {% assign team_citation_names = team_citation_names | concat: member_citation_names %}
        
      {% endif %}
      {% endunless %}
    {% endfor %}

    {% assign pruned_team_citation_names = "" | split: "," %}
    {% for citation_name in team_citation_names %}
      {% unless paper.explicit_nonlab_citations contains citation_name %}
        {% assign pruned_team_citation_names = pruned_team_citation_names | push: citation_name %}
      {% endunless %}
    {% endfor %}
    {% assign pruned_team_citation_names = pruned_team_citation_names | join: ", " %}


    <!-- {% assign team_citation_names = team_citation_names | join: ", " %} -->

    {% assign authors = paper.authors | replace: "; ", ", " %}
    {% assign authors = authors | split: ", " %}
    {% assign revised_authors = "" | split: ", " %}

    {% for author in authors %}
      {% if pruned_team_citation_names contains author %}	      
        {% assign revised_author = "<b>" | append: author | append: "</b>" %}
      {% else %}
        {% assign revised_author = author %}
      {% endif %}
      {% if paper.first_authors contains author %}
          {% assign revised_author = revised_author | append: "*" %}
      {% endif %}
      {% if paper.senior_authors contains author %}
          {% assign revised_author = revised_author | append: "<sup>#</sup>" %}
      {% endif %}
      {% if paper.corresponding_authors contains author %}
          {% assign revised_author = revised_author | append: "^" %}
      {% endif %}
      {% assign revised_authors = revised_authors | push: revised_author %}

    {% endfor %}	    
    {% assign  authors  = revised_authors | join: ", " %}


    <div class="row">

      <div class="col-md-10">  

        <div class="media">

          <div class="media-body">


            <div class="bg-light clearfix">
              <div class="pull-left">
                <div class="smallhead media-heading">
                  <!-- <div class="text-primary"> -->
		  <div>
	            <div><a href="{{ paper.url }}" class="off">{{ paper.title }}</a></div>
	          </div>
                </div>

              <p class="note">
                {{ authors }}<br>
                <!-- {{ shortened_authors }}<br> -->
                <span class="journal">
                  {{ paper.journal }}
                </span>
                {% if paper.volume %}
                  {{ paper.volume }}
                {% endif %}
                {% if paper.issue %}
                  ({{ paper.issue }})
                {% endif %}
                {% if paper.pages %}
                  {{ paper.pages }} 
                {% endif %}
                ({{ paper.year }}). 
                {% if paper.status %}
                  ({{ paper.status }})
                {% endif %}
                {% if paper.doi %}
                <a class="off" href="http://dx.doi.org/{{ paper.doi }}" target="_blank">http://dx.doi.org/{{ paper.doi }}</a>
                {% endif %}
                <br><br>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="col-md-2">
      <div class="pull-right">
        <div class="badge">
          <div class='altmetric-embed' data-badge-type='donut' data-badge-popover="left" data-doi={{ paper.doi }}></div>
        </div>
      </div>
      <div class="pull-right">
        <div class="badge">
          <div class="__dimensions_badge_embed__" data-doi={{ paper.doi }} data-legend="hover-left" data-style="small_circle"></div> 
        </div>
      </div>
    </div> -->

  </div>  

{% endfor %}


<div class="bigspacer"></div>
