---
layout: default
title: "News"
description: "Lab news"
group: navigation
navorder: 4
---
{% include JB/setup %}
<div class="hugespacer"></div>
<div class="bigtitle">Lab News</div>
<div class="hugespacer"></div>
{% for event in site.categories.events %}
  <div class="row">
    <div class="col-md-9 eventbox">
      <div class="media">
          <div class="pull-right"><img width=300 class="media-object" src="{{ event.image }}" style="float: left"></div>
        <div class="media-body">
          <div class="smallhead media-heading">{{ event.date | date: "%B %-d, %Y" }}</div>
            <div class="smallhead media-heading"><a href="{{ event.url }}" class="off">{{ event.title }}</a></div>
            <!-- <p class="note">{{ event.tagline }}</p> -->
            <p class="post">{{ event.content }}</p>
        </div>
      </div>
    </div>
  </div><div class="bigspacer"></div>
{% endfor %}
<div class="bigspacer"></div>
